<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currencies project</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Currencies exchange rate:</h1>
        <div class="lower-header">
            <h2>vs ARS (Argentine Peso)</h2>
            <h3 class="exchange-date">Latest update: <%= eurCurrencies.date %> </h3>

            <div class="buttons-div">

                <form class="button-form" action="/btc" method="get">
                    <button type="submit">See All Currencies vs BTC</button>
                </form>
            
                <form class="button-form" action="/eur" method="get">
                    <button type="submit">See All Currencies vs EURO</button>
                </form>
                
            </div>
                        
        </div>
    </header>

    <section class="card-section">
        
        <% for( currency in allCurrencies ){ %> 
             
            <% if ( allCurrencies[currency].includes('Argentine') ){ %> 
                <article class="card">
                    <h2>EUR Oficial</h2>
                    <h2><%= currency.toUpperCase() %></h2>
                
                    <p class="exchange"><%= eurCurrencies.eur[currency].toFixed(3) %> </p>
                    
                    <p class="currency-fullname"><%= allCurrencies[currency] %></p>
                    
                </article>
            <% } %>
            
        <% } %> 

        <% for( currency in allCurrencies ){ %> 
             
            <% if ( allCurrencies[currency].includes('Argentine') ){ %> 
                <article class="card">
                    <h2>EUR Oficial + imp.</h2>
                    <h2><%= currency.toUpperCase() %></h2>
                
                    <p class="exchange"><%= (eurCurrencies.eur[currency]*1.65).toFixed(3) %> </p>
                    
                    <p class="currency-fullname"><%= allCurrencies[currency] %></p>
                    
                </article>
            <% } %>
            
        <% } %> 

        <% for( currency in allCurrencies ){ %> 
             
            <% if ( allCurrencies[currency].includes('Argentine') ){ %> 
                <article class="card">
                    <h2>USD Oficial</h2>
                    <h2><%= currency.toUpperCase() %></h2>
                
                    <p class="exchange"><%= (eurCurrencies.eur[currency]/eurCurrencies.eur.usd).toFixed(3) %> </p>
                    
                    <p class="currency-fullname"><%= allCurrencies[currency] %></p>
                    
                </article>
            <% } %>
            
        <% } %> 

        <% for( currency in allCurrencies ){ %> 
             
            <% if ( allCurrencies[currency].includes('Argentine') ){ %> 
                <article class="card">
                    <h2>USD Oficial + imp.</h2>
                    <h2><%= currency.toUpperCase() %></h2>
                
                    <p class="exchange"><%= ((eurCurrencies.eur[currency]*1.65)/eurCurrencies.eur.usd).toFixed(3) %> </p>
                    
                    <p class="currency-fullname"><%= allCurrencies[currency] %></p>
                    
                </article>
            <% } %>
            
        <% } %> 
        
        <% for( currency in allCurrencies ){ %> 
             
            <% if ( allCurrencies[currency].includes('Argentine') ){ %> 
                <article class="card">
                    <h2>Bitcoin</h2>
                    <h2><%= currency.toUpperCase() %></h2>

                    <p class="exchange"><%= (btcCurrencies.btc[currency]*1.65).toFixed(3) %> </p>                    
                
                    <p class="currency-fullname"><%= allCurrencies[currency] %></p>

                </article>
            <% } %>
            
        <% } %> 
        
        <% for( currency in allCurrencies ){ %> 
             
            <% if ( allCurrencies[currency].includes('Argentine') ){ %> 
                <article class="card">
                    <h2>Ethereum</h2>
                    <h2><%= currency.toUpperCase() %></h2>

                    <p class="exchange"><%= ((btcCurrencies.btc[currency]*1.65)/btcCurrencies.btc.eth).toFixed(3) %> </p>                    
                
                    <p class="currency-fullname"><%= allCurrencies[currency] %></p>

                </article>
            <% } %>
            
        <% } %> 
                
    </section>
</body>
</html>