<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currencies project</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <script src="/js/index.js"></script>
</head>
<body>
    <header>
        <div class="header-wrapper">
            <h1 id="title">Currencies exchange rate:</h1>
            <div class="lower-header">
                <h2>vs ARS (Argentine Peso)</h2>
                <h3 class="exchange-date">Latest update: <%= eurCurrencies.date %> </h3>

                <div class="buttons-div">
                    <a href="#title"><button class="button-form up-button"><i class="fas fa-angle-up"></i></button></a>
                    <form class="button-form" action="/btc" method="get">
                        <button type="submit">See All Currencies vs BTC</button>
                    </form>
                
                    <form class="button-form" action="/eur" method="get">
                        <button type="submit">See All Currencies vs EURO</button>
                    </form>
                    
                </div>
                            
            </div>
        </div>
    </header>

    <section class="card-section">
        
        <% for( currency in allCurrencies ){ %> 
             
            <% if ( allCurrencies[currency].includes('Argentine') ){ %> 
                <div class="card-wrapper">
                    <article class="card">
                        <h2><i class="fa">&#xf153;</i> EUR Oficial</h2>
                        <p class="exchange exchange-top"><%= currency.toUpperCase() %></p>
                    
                        <p class="exchange exchange-bottom"><%= eurCurrencies.eur[currency].toFixed(2) %> </p>
                        
                        <p class="currency-fullname"><%= allCurrencies[currency] %> to buy 1 Euro</p>
                        <p class="currency-fullname">Only accesible for comex operations</p>
                        
                    </article>
                </div>    
            <% } %>
            
        <% } %> 

        <% for( currency in allCurrencies ){ %> 
             
            <% if ( allCurrencies[currency].includes('Argentine') ){ %> 
                <div class="card-wrapper" id="eur-card">
                    <article class="card">
                        <h2 id="h2-eur"><i class="fa">&#xf153;</i> EUR Oficial + imp.</h2>
                        <p class="exchange exchange-top"><%= currency.toUpperCase() %></p>
                    
                        <p class="exchange exchange-bottom"><%= (eurCurrencies.eur[currency]*1.65).toFixed(2) %> </p>
                        
                        <p class="currency-fullname"><%= allCurrencies[currency] %> to buy 1 Euro</p>
                        <p class="currency-fullname">Inc. taxes of 35% II.GG + 30% imp. PAIS</p>
                        
                    </article>
                </div>
            <% } %>
            
        <% } %> 

        <% for( currency in allCurrencies ){ %> 
             
            <% if ( allCurrencies[currency].includes('Argentine') ){ %> 
                <div class="card-wrapper">
                    <article class="card">
                        <h2><i class="fa">&#xf155;</i> USD Oficial</h2>
                        <p class="exchange exchange-top"><%= currency.toUpperCase() %></p>
                    
                        <p class="exchange exchange-bottom"><%= (eurCurrencies.eur[currency]/eurCurrencies.eur.usd).toFixed(2) %> </p>
                        
                        <p class="currency-fullname"><%= allCurrencies[currency] %> to buy 1 US Dollar</p>
                        <p class="currency-fullname">Only accesible for comex operations</p>
                        
                    </article>
                </div>
            <% } %>
            
        <% } %> 

        <% for( currency in allCurrencies ){ %> 
             
            <% if ( allCurrencies[currency].includes('Argentine') ){ %> 
                <div class="card-wrapper" id="usd-card">
                    <article class="card">
                        <h2 id="h2-usd"><i class="fa">&#xf155;</i> USD Oficial + imp.</h2>
                        <p class="exchange exchange-top"><%= currency.toUpperCase() %></p>
                    
                        <p class="exchange exchange-bottom"><%= ((eurCurrencies.eur[currency]*1.65)/eurCurrencies.eur.usd).toFixed(2) %> </p>
                        
                        <p class="currency-fullname"><%= allCurrencies[currency] %> to buy 1 US Dollar</p>
                        <p class="currency-fullname">Inc. taxes of 35% II.GG + 30% imp. PAIS</p>
                        
                    </article>
                </div>
            <% } %>
            
        <% } %> 
        
        <% for( currency in allCurrencies ){ %> 
             
            <% if ( allCurrencies[currency].includes('Argentine') ){ %> 
                <div class="card-wrapper" id="btc-card">
                    <article class="card">
                        <h2 id="h2-btc"><i class="fab fa-bitcoin"></i> Bitcoin</h2>
                        <p class="exchange exchange-top"><%= currency.toUpperCase() %></p>

                        <p class="exchange exchange-bottom"><%= (btcCurrencies.btc[currency]*1.65).toFixed(2) %> </p>                    
                    
                        <p class="currency-fullname"><%= allCurrencies[currency] %> to buy 1 BTC</p>

                    </article>
                </div>
            <% } %>
            
        <% } %> 
        
        <% for( currency in allCurrencies ){ %> 
             
            <% if ( allCurrencies[currency].includes('Argentine') ){ %> 
                <div class="card-wrapper" id="eth-card">
                    <article class="card">
                        <h2 id="h2-eth"><i class="fab fa-ethereum"></i> Ethereum</h2>
                        <p class="exchange exchange-top"><%= currency.toUpperCase() %></p>

                        <p class="exchange exchange-bottom"><%= ((btcCurrencies.btc[currency]*1.65)/btcCurrencies.btc.eth).toFixed(2) %> </p>                    
                    
                        <p class="currency-fullname"><%= allCurrencies[currency] %> to buy 1 ETH</p>

                    </article>
                </div>
            <% } %>
            
        <% } %> 
                
    </section>
    <%- include( './partials/footer' ) %> 
</body>
</html>